# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment directories
venv/
env/
.venv/
.env/
*.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 一些不需要追蹤的檔案
*.pem
*.bin
test.py
